* {
    box-sizing: border-box;
}
body {
   margin: 0;
}
*{
   box-sizing:border-box;
}
body{
   margin:0;
}
#iau9{
   font-family:Tahoma, Geneva, sans-serif;
   text-align:justify;
   text-transform:none;
   text-decoration:none;
   font-weight:400;
   white-space:break-spaces;
   padding-top:0.016px;
   padding-right:0px;
   padding-bottom:0px;
   padding-left:3px;
   background-color:#061242;
}
.gjs-grid-column.feature-item{
   padding-top:15px;
   padding-right:15px;
   padding-bottom:15px;
   padding-left:15px;
   display:flex;
   flex-direction:column;
   gap:15px;
   min-width:30%;
}
.gjs-grid-column.testimonial-item{
   padding-top:15px;
   padding-right:15px;
   padding-bottom:15px;
   padding-left:15px;
   display:flex;
   flex-direction:column;
   gap:15px;
   min-width:45%;
   background-color:rgba(247, 247, 247, 0.23);
   border-top-left-radius:5px;
   border-top-right-radius:5px;
   border-bottom-right-radius:5px;
   border-bottom-left-radius:5px;
   align-items:flex-start;
   border-top-width:1px;
   border-right-width:1px;
   border-bottom-width:1px;
   border-left-width:1px;
   border-top-style:solid;
   border-right-style:solid;
   border-bottom-style:solid;
   border-left-style:solid;
   border-top-color:rgba(0, 0, 0, 0.06);
   border-right-color:rgba(0, 0, 0, 0.06);
   border-bottom-color:rgba(0, 0, 0, 0.06);
   border-left-color:rgba(0, 0, 0, 0.06);
}
.gjs-container{
   width:90%;
   margin:0 auto;
   max-width:1200px;
}
.gjs-section{
   display:flex;
   padding:50px 0;
}
.gjs-grid-column{
   flex:1 1 0%;
   padding:5px 0;
}
.gjs-grid-row{
   display:flex;
   justify-content:flex-start;
   align-items:stretch;
   flex-direction:row;
   min-height:auto;
   padding:10px 0;
}
.nav-menu ul{
   list-style:none;
   padding:0;
   margin:0;
}
.nav-menu li{
   padding:5px 0;
}
.nav-menu li a{
   color:white;
   text-decoration:none;
   display:block;
   padding:10px;
}
.nav-toggle:checked+.nav-toggle-label+.nav-menu{
   display:flex;
}
.slider img{
   width:100%;
   height:auto;
}
#i71hx{
   justify-content:center;
   margin-top:0px;
   margin-right:0px;
   margin-bottom:0px;
   margin-left:0px;
   min-width:100vh;
   min-height:100vh;
   align-items:center;
   padding-top:0px;
   padding-right:0px;
   padding-bottom:0px;
   padding-left:0px;
   background-color:rgba(255, 255, 255, 1);
}
.gjs-divider{
   height:3px;
   width:100%;
   margin:10px;
   background-color:rgba(0, 0, 0, 0.05);
}
#i20os{
   height:182px;
   margin-top:0px;
   margin-right:0px;
   margin-bottom:0px;
   margin-left:0px;
   width:313px;
}
#isq1p{
   background-color:#061242;
   color:rgba(255, 255, 255, 1);
   font-family:Helvetica, sans-serif;
   justify-content:center;
}
#ir8eh{
   justify-content:center;
   display:flex;
   align-items:center;
}
#i4yes{
   flex:0 1 auto;
}
#iecb9{
   flex:1 1 0%;
   align-self:center;
}
#ix3mr{
   color:black;
   width:218px;
   height:86px;
}
#iml4t{
   padding:10px;
   text-align:left;
   color:#ffffff;
   font-family:Helvetica, sans-serif;
   font-size:13px;
}
.gjs-heading{
   margin:0;
}
#iq0gl{
   padding-bottom:10px;
}
#iokbx{
   padding:10px;
   padding-top:0px;
   padding-right:0px;
   padding-bottom:0px;
   padding-left:0px;
}
#iyqai{
   padding:10px;
   font-size:22px;
   padding-top:5px;
   padding-right:0px;
   padding-bottom:0px;
   padding-left:0px;
}
#izxq8{
   padding:10px;
   padding-top:5px;
   padding-right:0px;
   padding-bottom:0px;
   padding-left:0px;
}
#i66lk{
   padding:10px;
   font-size:20px;
   padding-top:5px;
   padding-right:0px;
   padding-bottom:0px;
   padding-left:0px;
}
#ipys8{
   padding-bottom:10px;
}
#ibyoc{
   padding-top:0px;
   padding-right:5px;
   padding-bottom:0px;
   padding-left:0px;
   margin-top:-4px;
   margin-right:-4px;
   margin-bottom:-4px;
   margin-left:-4px;
   width:27px;
   height:22px;
}
#iquln{
   padding:10px;
   text-align:center;
}
#ir714{
   width:41%;
}
#i0md6{
   color:black;
   width:475px;
   height:475px;
   margin-top:0px;
   margin-bottom:0px;
   margin-left:0px;
}
#izro7{
   padding:10px;
   color:rgba(0, 0, 0, 1);
   font-family:Helvetica, sans-serif;
}
#i4r5zl{
   margin:0px 0px 15px;
   padding:0px;
   border:0px;
   font-variant-numeric:inherit;
   font-variant-east-asian:inherit;
   font-variant-alternates:inherit;
   font-variant-position:inherit;
   font-stretch:inherit;
   font-size:14px;
   line-height:inherit;
   font-family:Roboto, Arial, Tahoma, sans-serif;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
   color:rgba(0, 0, 0, 1);
   text-align:start;
   white-space-collapse:collapse;
}
#i95q9s{
   margin:0px 0px 15px;
   padding:0px;
   border:0px;
   font-variant-numeric:inherit;
   font-variant-east-asian:inherit;
   font-variant-alternates:inherit;
   font-variant-position:inherit;
   font-stretch:inherit;
   font-size:14px;
   line-height:inherit;
   font-family:Roboto, Arial, Tahoma, sans-serif;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
   color:rgba(0, 0, 0, 1);
   text-align:start;
   white-space-collapse:collapse;
}
#i1vneo{
   margin:0px 0px 15px;
   padding:0px;
   border:0px;
   font-variant-numeric:inherit;
   font-variant-east-asian:inherit;
   font-variant-alternates:inherit;
   font-variant-position:inherit;
   font-stretch:inherit;
   font-size:14px;
   line-height:inherit;
   font-family:Roboto, Arial, Tahoma, sans-serif;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
   color:rgba(0, 0, 0, 1);
   text-align:start;
   white-space-collapse:collapse;
}
#igabxg{
   margin:0px 0px 15px;
   padding:0px;
   border:0px;
   font-variant-numeric:inherit;
   font-variant-east-asian:inherit;
   font-variant-alternates:inherit;
   font-variant-position:inherit;
   font-stretch:inherit;
   font-size:14px;
   line-height:inherit;
   font-family:Roboto, Arial, Tahoma, sans-serif;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
   color:rgb(134, 143, 152);
   text-align:start;
   white-space-collapse:collapse;
}
#i76zbo{
   margin:0px;
   padding:0px;
   border:0px;
   font-style:inherit;
   font-variant:inherit;
   font-weight:700;
   font-stretch:inherit;
   font-size:inherit;
   line-height:inherit;
   font-family:inherit;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
   color:rgba(0, 0, 0, 1);
}
#ilv43l{
   margin:0px 0px 15px;
   padding:0px;
   border:0px;
   font-variant-numeric:inherit;
   font-variant-east-asian:inherit;
   font-variant-alternates:inherit;
   font-variant-position:inherit;
   font-stretch:inherit;
   font-size:14px;
   line-height:inherit;
   font-family:Roboto, Arial, Tahoma, sans-serif;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
   color:rgba(0, 0, 0, 1);
   text-align:start;
   white-space-collapse:collapse;
}
#ibd5ng{
   margin:0px;
   padding:0px;
   border:0px;
   font-style:inherit;
   font-variant:inherit;
   font-weight:700;
   font-stretch:inherit;
   font-size:inherit;
   line-height:inherit;
   font-family:inherit;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
}
#ioji06{
   margin:0px;
   padding:0px;
   border:0px;
   font-variant-numeric:inherit;
   font-variant-east-asian:inherit;
   font-variant-alternates:inherit;
   font-variant-position:inherit;
   font-stretch:inherit;
   font-size:14px;
   line-height:inherit;
   font-family:Roboto, Arial, Tahoma, sans-serif;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
   color:rgba(0, 0, 0, 1);
   text-align:start;
   white-space-collapse:collapse;
}
#ikvmb8{
   margin:0px;
   padding:0px;
   border:0px;
   font-style:inherit;
   font-variant:inherit;
   font-weight:700;
   font-stretch:inherit;
   font-size:inherit;
   line-height:inherit;
   font-family:inherit;
   font-optical-sizing:inherit;
   font-kerning:inherit;
   font-feature-settings:inherit;
   font-variation-settings:inherit;
   vertical-align:baseline;
}
#i9oah{
   display:flex;
   flex:0 0 auto;
   margin-right:0px;
   margin-left:0px;
   margin-top:0px;
   margin-bottom:0px;
}
#i9aud{
   font-size:25px;
   font-weight:200;
}
#inkxa{
   background-image:url("../assets/screenshot_1.jpg");
   background-position:0px 0px;
   background-size:100% 100%;
   background-repeat:no-repeat;
   background-attachment:fixed;
   background-origin:padding-box;
   padding-top:50px;
   padding-right:0px;
   padding-bottom:64px;
   padding-left:0px;
   min-width:100%;
   min-height:100vh;
}
#ia8bi{
   display:flex;
   justify-content:center;
   align-items:center;
}
#ifcyy{
   display:inline-block;
   padding-top:0px;
   padding-right:0px;
   padding-bottom:10px;
   padding-left:0px;
}
#ikick{
   color:black;
   width:765px;
   height:299px;
   margin-top:109px;
   margin-right:0px;
   margin-bottom:0px;
   margin-left:0px;
}
#ij8ik{
   justify-content:center;
}
#ie0k8{
   flex:0 1 auto;
}
.gjs-link-box{
   color:inherit;
   display:inline-block;
   vertical-align:top;
   padding:10px;
   max-width:100%;
   text-decoration:none;
}
#iueji{
   padding:10px;
}
#ierho{
   width:50px;
   height:51px;
}
#izf7b7{
   margin-top:0px;
   margin-right:0px;
   margin-bottom:0px;
   margin-left:0px;
   padding-top:0px;
}
#i5zqz{
   padding-top:50px;
   padding-right:0px;
   padding-bottom:5px;
   padding-left:0px;
}
#i6z7f{
   min-width:100vh;
   min-height:100vh;
   align-items:flex-start;
   padding-top:0px;
   padding-right:0px;
   padding-bottom:0px;
   padding-left:0px;
   background-color:rgba(6, 18, 66, 1);
}
#ijzzf{
   text-align:center;
   color:rgba(255, 230, 0, 1);
   margin-bottom:43px;
   margin-top:26px;
}
#if1oh8{
   padding-top:0px;
   padding-bottom:0px;
}
#i0zcrl{
   display:inline;
   padding-top:0px;
   padding-bottom:0px;
}
#i0zcrl{
   background-color:rgba(255, 255, 255, 1);
}
#iizcvl{
   width:1px;
   min-width:100%;
}
@media (max-width: 992px){
   .gjs-grid-row{
       flex-direction:column;
   }
   #iau9{
       padding-top:0px;
       padding-right:0px;
       padding-bottom:0px;
       padding-left:3px;
   }
   #iecb9{
       display:none;
   }
   #is3av{
       display:none;
   }
}
@media (max-width: 480px){
   #i20os{
       width:270px;
   }
}
.navbar {
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 10px 0; /* Ajuste o padding verticalmente para centralizar */
    box-sizing: border-box;
    transition: padding 0.3s, background-color 0.3s, box-shadow 0.3s;
    z-index: 1000;
    top: 0;
    display: flex; /* Para usar flexbox */
    justify-content: center; /* Centraliza os itens na barra de navegação */
    align-items: center; /* Alinha os itens verticalmente */
  }
  .navbar .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-link.active {
    color: yellow;
    border-bottom: 2px solid yellow;
  }
  
  
  .content {
    padding: 20px;
    box-sizing: border-box;
    margin-top: 80px; /* Ajustado para compensar a altura da navbar */
  }
  
  .content h1 {
    font-size: 2em;
  }
  
  .content p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  .navbar.scrolled {
    padding: 5px 0; /* Ajuste o padding verticalmente para centralizar */
    background-color: #061242;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .navbar.scrolled .nav-link {
    color: #fff;
  }
  .carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
  }
  
  .carousel-slide img {
    width: 100%;
    display: block;
  }
  
  .carousel-slide.active {
    display: block;
    animation: fadein 1s;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  